{% extends "base.html" %}
{% block title %}О технологиях проекта{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                О технологиях
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Разработано Бондарем В. А. в рамках обучения на Яндекс.Практикуме
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Для создания сайта использовались вполне стандартные инструменты: VSC с интерпретатором python 3.7, фреймворк Django 2.2.9, кривые руки автора.
             Еще очень помогло время от времени использовать голову и процедуры интернет-поиска. 
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 